In [1]:
import pandas as pd
import numpy as np
import os
import glob

C:\Users\mji.IWMDC0\AppData\Local\Temp\ipykernel_11500\3765769406.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
tmax_df = pd.read_csv(r"G:\MJI\SKZ\Script\From RAJ\TmaxData.csv")

In [3]:
tmax_df

,date,"('88.625', '26.625')","('88.625', '26.875')","('88.625', '27.125')","('88.625', '27.375')","('88.875', '26.125')","('88.875', '26.375')","('88.875', '26.625')","('88.875', '26.875')","('88.875', '27.125')",...,"('89.375', '25.875')","('89.375', '26.125')","('89.375', '26.375')","('89.375', '26.625')","('89.375', '26.875')","('89.625', '25.875')","('89.625', '26.125')","('89.875', '25.875')",model,projection
0,1951-01-01,17.35,21.56,20.99,19.46,18.92,18.14,20.03,22.84,9.05,...,19.32,18.97,18.14,18.43,15.82,19.02,18.85,18.58,ACCESS-CM2,historical
1,1951-01-02,19.75,24.30,23.95,22.66,20.80,19.93,22.33,25.46,11.55,...,20.04,20.61,19.77,20.48,18.32,19.93,20.45,19.84,ACCESS-CM2,historical
2,1951-01-03,19.40,23.87,23.44,22.05,20.52,19.67,21.98,25.02,11.11,...,19.65,20.36,19.50,20.14,17.88,19.58,20.17,19.43,ACCESS-CM2,historical
3,1951-01-04,19.87,24.34,23.91,22.53,21.24,20.17,22.42,25.48,11.50,...,20.82,21.12,19.95,20.52,18.30,20.64,20.94,20.49,ACCESS-CM2,historical
4,1951-01-05,19.00,23.24,22.60,21.04,20.79,19.55,21.58,24.40,10.41,...,20.58,20.63,19.37,19.76,17.29,20.43,20.47,20.35,ACCESS-CM2,historical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1120221,2100-12-27,26.81,30.44,29.47,27.65,29.90,27.92,29.30,31.57,18.20,...,29.99,29.82,27.44,27.33,25.39,29.72,29.64,29.52,NorESM2-MM,ssp585
1120222,2100-12-28,27.65,31.38,30.47,28.76,30.16,28.40,30.14,32.50,19.33,...,30.11,30.08,27.93,28.08,26.31,29.84,29.89,29.63,NorESM2-MM,ssp585
1120223,2100-12-29,28.20,32.09,31.22,29.51,30.42,28.81,30.71,33.24,20.23,...,30.32,30.40,28.39,28.73,27.18,30.08,30.24,29.90,NorESM2-MM,ssp585
1120224,2100-12-30,28.53,32.12,30.95,29.02,30.74,29.22,31.00,33.25,19.88,...,30.66,30.70,28.78,29.00,27.16,30.41,30.55,30.26,NorESM2-MM,ssp585
1120225,2100-12-31,28.65,32.57,31.61,29.83,30.78,29.26,31.16,33.73,20.76,...,30.73,30.76,28.85,29.19,27.68,30.48,30.61,30.32,NorESM2-MM,ssp585

In [9]:
set(tmax_df['projection'])

{'historical', 'ssp245', 'ssp585'}

In [7]:
set(tmax_df['model'])

{'ACCESS-CM2',
 'ACCESS-ESM1-5',
 'BCC-CSM2-MR',
 'CanESM5',
 'EC-Earth3',
 'EC-Earth3-Veg',
 'INM-CM4-8',
 'INM-CM5-0',
 'MPI-ESM1-2-HR',
 'MPI-ESM1-2-LR',
 'MRI-ESM2-0',
 'NorESM2-LM',
 'NorESM2-MM'}

In [13]:
tmax_df.iloc[:, 1].name

"('88.625', '26.625')"

In [4]:
tmin_df = pd.read_csv(r"G:\MJI\SKZ\Script\From RAJ\TminData.csv")

In [5]:
tmin_df

,date,"('88.625', '26.625')","('88.625', '26.875')","('88.625', '27.125')","('88.625', '27.375')","('88.875', '26.125')","('88.875', '26.375')","('88.875', '26.625')","('88.875', '26.875')","('88.875', '27.125')",...,"('89.375', '25.875')","('89.375', '26.125')","('89.375', '26.375')","('89.375', '26.625')","('89.375', '26.875')","('89.625', '25.875')","('89.625', '26.125')","('89.875', '25.875')",model,projection
0,1951-01-01,6.75,10.45,9.36,7.44,9.22,8.10,9.51,11.70,-5.38,...,11.12,9.98,8.34,7.97,2.05,11.60,10.56,12.13,ACCESS-CM2,historical
1,1951-01-02,6.35,10.22,9.27,7.45,7.70,7.57,9.12,11.46,-5.56,...,9.02,8.42,7.74,7.56,1.54,9.41,8.82,9.84,ACCESS-CM2,historical
2,1951-01-03,6.99,11.12,10.35,8.65,8.73,7.98,9.70,12.38,-3.34,...,9.99,9.13,8.03,8.09,3.60,10.10,9.39,10.14,ACCESS-CM2,historical
3,1951-01-04,7.32,11.64,11.03,9.44,7.68,7.89,9.96,12.84,-1.90,...,8.51,8.33,7.91,8.22,4.49,8.77,8.59,8.92,ACCESS-CM2,historical
4,1951-01-05,8.48,12.77,12.12,10.47,8.85,8.95,11.18,14.03,0.39,...,8.90,9.60,9.11,9.57,7.06,9.20,9.89,9.32,ACCESS-CM2,historical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1120221,2100-12-27,14.41,18.61,17.84,16.08,17.36,15.23,17.05,19.71,7.33,...,18.02,17.89,15.26,15.34,13.76,18.24,18.11,18.37,NorESM2-MM,ssp585
1120222,2100-12-28,14.45,18.77,18.13,16.57,17.20,15.15,17.09,19.91,7.62,...,17.74,17.72,15.16,15.39,13.98,17.98,17.94,18.12,NorESM2-MM,ssp585
1120223,2100-12-29,15.73,20.16,19.68,18.25,17.90,16.20,18.31,21.29,8.88,...,18.23,18.38,16.08,16.51,15.07,18.43,18.57,18.54,NorESM2-MM,ssp585
1120224,2100-12-30,16.09,20.12,19.22,17.21,18.46,16.75,18.68,21.26,8.50,...,18.78,18.91,16.64,16.87,15.06,18.98,19.07,19.06,NorESM2-MM,ssp585
1120225,2100-12-31,16.05,20.08,19.17,17.14,18.37,16.69,18.65,21.26,8.51,...,18.71,18.86,16.60,16.88,15.14,18.93,19.04,19.04,NorESM2-MM,ssp585

In [10]:
set(tmin_df['projection'])

{'historical', 'ssp245', 'ssp585'}

In [11]:
set(tmin_df['model'])

{'ACCESS-CM2',
 'ACCESS-ESM1-5',
 'BCC-CSM2-MR',
 'CanESM5',
 'EC-Earth3',
 'EC-Earth3-Veg',
 'INM-CM4-8',
 'INM-CM5-0',
 'MPI-ESM1-2-HR',
 'MPI-ESM1-2-LR',
 'MRI-ESM2-0',
 'NorESM2-LM',
 'NorESM2-MM'}

In [15]:
tmin_df.loc[:, ['date', tmax_df.iloc[:, 1].name]]

               date  ('88.625', '26.625')
0        1951-01-01                  6.75
1        1951-01-02                  6.35
2        1951-01-03                  6.99
3        1951-01-04                  7.32
4        1951-01-05                  8.48
...             ...                   ...
1120221  2100-12-27                 14.41
1120222  2100-12-28                 14.45
1120223  2100-12-29                 15.73
1120224  2100-12-30                 16.09
1120225  2100-12-31                 16.05

[1120226 rows x 2 columns]

In [12]:
scenario_list = ['historical', 'ssp245', 'ssp585']
model_list = ['ACCESS-CM2', 'ACCESS-ESM1-5', 'BCC-CSM2-MR', 'CanESM5', 'EC-Earth3', 'EC-Earth3-Veg', 
              'INM-CM4-8', 'INM-CM5-0', 'MPI-ESM1-2-HR', 'MPI-ESM1-2-LR', 'MRI-ESM2-0', 'NorESM2-LM', 'NorESM2-MM']

In [16]:
grid_df = pd.read_excel(r"G:\MJI\SKZ\Script\From RAJ\CMIP6_grid_dharla_river.xlsx")

In [17]:
grid_df

    ID  Longitude  Latitude
0    1     88.625    26.625
1    2     88.625    26.875
2    3     88.625    27.125
3    4     88.625    27.375
4    5     88.875    26.125
5    6     88.875    26.375
6    7     88.875    26.625
7    8     88.875    26.875
8    9     88.875    27.125
9   10     88.875    27.375
10  11     89.125    25.875
11  12     89.125    26.125
12  13     89.125    26.375
13  14     89.125    26.625
14  15     89.125    26.875
15  16     89.125    27.125
16  17     89.125    27.375
17  18     89.375    25.875
18  19     89.375    26.125
19  20     89.375    26.375
20  21     89.375    26.625
21  22     89.375    26.875
22  23     89.625    25.875
23  24     89.625    26.125
24  25     89.875    25.875

In [19]:
points_list = [f"('{lon}', '{lat}')" for lon, lat in zip(grid_df['Longitude'], grid_df['Latitude'])]
points_list

["('88.625', '26.625')",
 "('88.625', '26.875')",
 "('88.625', '27.125')",
 "('88.625', '27.375')",
 "('88.875', '26.125')",
 "('88.875', '26.375')",
 "('88.875', '26.625')",
 "('88.875', '26.875')",
 "('88.875', '27.125')",
 "('88.875', '27.375')",
 "('89.125', '25.875')",
 "('89.125', '26.125')",
 "('89.125', '26.375')",
 "('89.125', '26.625')",
 "('89.125', '26.875')",
 "('89.125', '27.125')",
 "('89.125', '27.375')",
 "('89.375', '25.875')",
 "('89.375', '26.125')",
 "('89.375', '26.375')",
 "('89.375', '26.625')",
 "('89.375', '26.875')",
 "('89.625', '25.875')",
 "('89.625', '26.125')",
 "('89.875', '25.875')"]

In [22]:
point_tmax_df = tmax_df.loc[:, ['date', points_list[0]]]
point_tmin_df = tmin_df.loc[:, ['date', points_list[0]]]

point_temperature_df = pd.merge(point_tmax_df, point_tmin_df, on='date', suffixes=('_tmax', '_tmin'))
point_temperature_df

                date  ('88.625', '26.625')_tmax  ('88.625', '26.625')_tmin
0         1951-01-01                      17.35                       6.75
1         1951-01-01                      17.35                       7.89
2         1951-01-01                      17.35                      10.67
3         1951-01-01                      17.35                       9.18
4         1951-01-01                      17.35                      11.59
...              ...                        ...                        ...
25172375  2100-12-31                      28.65                      14.56
25172376  2100-12-31                      28.65                      12.97
25172377  2100-12-31                      28.65                      16.36
25172378  2100-12-31                      28.65                      12.15
25172379  2100-12-31                      28.65                      16.05

[25172380 rows x 3 columns]

In [1]:
import pandas as pd
import numpy as np
import os
import glob

tmax_df = pd.read_csv(r"G:\MJI\SKZ\Script\From RAJ\TmaxData.csv")
tmin_df = pd.read_csv(r"G:\MJI\SKZ\Script\From RAJ\TminData.csv")
grid_df = pd.read_excel(r"G:\MJI\SKZ\Script\From RAJ\CMIP6_grid_dharla_river.xlsx")


scenario_list = ['historical', 'ssp245', 'ssp585']
model_list = ['ACCESS-CM2', 'ACCESS-ESM1-5', 'BCC-CSM2-MR', 'CanESM5', 'EC-Earth3', 'EC-Earth3-Veg', 
              'INM-CM4-8', 'INM-CM5-0', 'MPI-ESM1-2-HR', 'MPI-ESM1-2-LR', 'MRI-ESM2-0', 'NorESM2-LM', 'NorESM2-MM']

points_list = [f"('{lon}', '{lat}')" for lon, lat in zip(grid_df['Longitude'], grid_df['Latitude'])]

# Iterating through each scenario and creating scenario-specific dataframe
for scenario in scenario_list:
    try:
        os.makedirs(f'Output/{scenario}')

    except:
        pass
    
    tmax_scenario_df = tmax_df[tmax_df['projection'] == scenario]
    tmin_scenario_df = tmin_df[tmin_df['projection'] == scenario]

    
    # Iterating through each model and creating model-specific dataframe
    for model in model_list:
        try:
            os.makedirs(f'Output/{scenario}/{model}')

        except:
            pass
        
        tmax_model_df = tmax_scenario_df[tmax_scenario_df['model'] == model]
        tmin_model_df = tmin_scenario_df[tmin_scenario_df['model'] == model]


        # Defining the grid points file and generating the input file
        tmp_file = open(f'Output/{scenario}/{model}/tmp.txt', 'a')
        tmp_file.write('ID,NAME,LAT,LONG,ELEVATION' + '\n')

        
        # Iterating through each grid point and creating input file from each point
        for i in range(0, len(points_list)):

            file_name = open(f'Output/{scenario}/{model}/tmp{i+1}.txt', 'a')

            point_tmax_df = tmax_model_df.loc[:, ['date', points_list[i]]]
            point_tmin_df = tmin_model_df.loc[:, ['date', points_list[i]]]
            point_temperature_df = pd.merge(point_tmax_df, point_tmin_df, on='date', suffixes=('_tmax', '_tmin'))
        
            first_date = (point_temperature_df.iloc[0,0]).replace('-', '')   ## yyyymmdd
            file_name.write(first_date + '\n')
            
            for r in range(0, len(point_temperature_df)):
                max_temp = point_temperature_df.iloc[r,1]
                min_temp = point_temperature_df.iloc[r,2]
                file_name.write(f'{max_temp},{min_temp}\n')

            # Updating the point location the grid file
            LAT = float(eval(points_list[i])[1])
            LONG = float(eval(points_list[i])[0])
            NAME = f'tmp{i+1}'
            
            tmp_file.write(f'{i+1},{NAME},{LAT},{LONG},0.00\n')

C:\Users\mji.IWMDC0\AppData\Local\Temp\ipykernel_10548\204710227.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd